@import url(../colors_font/color_font.css);
.backdrop{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -9999;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;    
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 100%;
}

header{
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    padding: 0 4em;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
}
.logo{
    width: 20%;
}
.logo img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 100;
}
.login_cart_search{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}
.login_cart_search div{
    margin: 0 0.5em;
}
.cart span{
    font-size: 1.1rem;
    position: relative;
    /* top: 0.4em; */
    color: white;
}
.login{
    background-color: var(--tertiary-color);
    padding: 0.35em 0.75em;
    border-radius: 8px;
}
.login a{
    text-decoration: none;
    color: var(--white); 
}
ul li{
    margin: 0 1em;
    color: var(--white);
}
ul li a{
    text-decoration: none;
    color: inherit;
}
ul li a:hover{
    color: var(--black);
    transition: 0.4s;
}
ul li a:active{
    color: var(--selected);
}
.cart i, .search i{
    color: var(--white);
    font-size: 1.5rem;
}
.search-bar{
    position: absolute;
    margin-top: -0%;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    right: 4%;
}
.search-bar input{
    padding: 0.5em;
    border-radius: 8px;
}
.show-searchbar{
    margin-top: -40%;
    transition: 0.4s;
}
.show-cart, .show-login{
    display: none;
}
.show-search{
    display: none;
}
.fa-times{
    position: relative;
    right: 40px;
    top: 0 px;
    color: var(--selected);
}
.search-item{
    margin-right: 10%;
}
.close-fa{
    display: none;
}
.search-result i{
    font-size: 1.5rem;
    border-width: 0px;

}

/* media queries for navbar */
@media(max-width: 1300px){
    .search-bar{
        right: 12%;
    }
}
@media(max-width: 1000px){
    ul{
        position: fixed;
        flex-direction: row;
        padding: 0em;
        height: 80px;
        width: 80%;
        bottom: 2%;
        left: 10%;
        background-color: var(--black);
        transition: 0.4s;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        z-index: 100;
        font-size: 1.1rem;
    }
    ul li{
        width: 100%;
        border: 1px solid white;
        padding: 1em;
        font-size: 0.7rem;
        border-radius: 8px;
    }
    ul li:hover{
        background-color: var(--tertiary-color);
    }
    ul li a:hover{
        color: var(--white);
    }
    .search-bar{
        right: 20%;
    }
    
    ul li a{
        color: var(--white)
    }
    .logo{
        width: 40%; 
    }
    .login_cart_search{
        width: 40%;
    }
}
@media(max-width: 800px){
    .search-bar{
        right: 32%;
    }
}
@media(max-width: 600px){
    ul{
        top: 86vh;
    }
    
    header{
        padding: 0em;
    }
    .login{
        padding: 0.5em 1.5em;
    }
    .login a {
        font-size: 1rem;
    }
    .logo{
        width: 60%;
    }
    .login_cart_search{
        width: 60%;
        justify-content: space-between;
    }
    .search-bar{
        right: 50%
    }
}
@media(max-width: 492px){
    .login{
        padding: 0.3em 1.5em;
    }
    ul{
        width: 100%;
        left: 0%;
        bottom: 4%;
        font-size: 0.7em;
        justify-content: center;
    }
    .logo{
        width:25%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .logo img{
        width: 70px;
        height: 40px;
    }

    ul li{
        padding: 0.6em;
    }
    .login_cart_search{
        width: 60%;
    }
    .login{
        width: 100px;
    }
    .search-bar input{
        padding: 0.3em;
    }
}
@media(max-width: 400px){
    .login{
        padding: 0.1em 1.5em;
    }
    .login{
        width: 80px;
        font-size: 0.5rem;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-bar{
        margin-right: 40px;
    }
}
/* header finished */
/* breadcrumb */
.breadcrumb{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    gap: 3%;
    margin-left: 5.5%;
}
.breadcrumb div a{
    text-decoration: none;
}
@media(max-width:500px){
    .breadcrumb{
        width: 80%;
    }
}

/* item section */
/* item main photo section */
.main-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em;
    margin-top: 1em;
    width: 90%;
    margin: 1em auto 0 auto;
    flex-wrap: wrap;
}
.item-photo{
    width: 25%;
}
.item-cart{
    width: 40%;
}
.item-place{
    width: 25%;
}
.item-photo div{
    width: 100%;
}
.main-img{
    border: 8px solid black;
    padding: 0.05em;
}
.main-img img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}
.sub-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--selected);
    padding: 1em;

}
.sub-img img{
    width: 30%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}




/* item cart section */

.item-cart > h1{
    font-size: 1.4em;
    margin-bottom: 1em;
    color: var(--secondary-color);
}
.ratings-sec{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}
.ratings-sec .ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}


.ratings-sec > p{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5%;
    margin-bottom: 1.5em;
}
.category p{
    font-size: 1.2em;
}
.cost{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.cost > p{
    margin-bottom: 0.5em;
    font-size: 1.6em;
    color: var(--primary-color);

}
.cost >div{
    display: inline-flex;
}
.cost >div p{
    font-size: 1.2em;
}
.cost >div p:nth-child(1){
    text-decoration: line-through;
    margin-right: 1.5em;
}
.quantity button{
    padding: 0.5em 1em;
    margin-right: 1.5em;
}
.quantity input{
    width: 20%;
    margin-right: 1em;
    padding: 0.5em 1.5em;
}
.place-order{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10%;
    margin-top: 1.5em;
}
.place-order button{
    padding: 0.3em 1.5em;
    border-width: 0px;
    font-size: 1.3em;
    background-color: var(--white);
    border-radius: 2px;
}
.place-order button:nth-child(1){
    background-color: var(--tertiary-color);
    transition: 0.4s;
    color: var(--white);
}
.place-order button:nth-child(2){
    background-color: var(--primary-color);
    color: var(--white);
}
.place-order button:nth-child(2):hover{
    opacity: 0.8;
}
.place-order button:nth-child(1):hover{
    opacity: 0.8;
}
.item-place{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-place h1{
    margin-bottom: 1em;
    text-align: left;
    width: 100%;
    color: var(--secondary-color);
}
.item-place div{
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    gap: 10%;
    font-size: 1.2em;
}
/* media query */
/* media query for item */
@media(max-width: 1000px){
    .item-photo{
        width: 45%;
    }
    .item-cart{
        width: 45%;
    }
    .item-place{
        margin-top: 2em;
    }
    .ratings-sec{
        width: 100%;
    }
}
@media(max-width: 768px){
    .item-photo{
        width: 100%;
        margin-bottom: 2em;
    }
    .item-cart{
        width: 100%;
    }
    .item-place{
        width: 100%;
    }
    .ratings-sec{
        width: 100%;
    }
}

/* product specification */

.productspecification{
    width: 90%;
    margin: 2em auto;
}
.productspecification h1{
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: var(--secondary-color);  
}
.product_specifyandrating{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.onlyspecify{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    flex-direction: column;
}
.onlyreview h1{
    font-size: 1.4rem;
}
.specification, .shop-type,.trader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
.specification p:nth-child(1), .shop-type p:nth-child(1), .trader p:nth-child(1){
    font-weight: bolder;
}
.onlyrating{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.onlyrating h1{
    font-size: 1.4rem;
    text-align: right;
}
.rate_product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    gap: 5%;
}
.onlyrating .rate_product p i{
    font-size: 1.5rem;
}
@media(max-width: 1000px){
    .rate_product{
        width: 40%;
    }
}
@media(max-width: 768px){
    .onlyspecify{
        width: 100%;
    }
    .onlyrating{
        width: 100%;
        align-items: flex-start;
        margin-bottom: 1em;
    }
    .product_specifyandrating{
        flex-wrap: wrap;
        gap: 2em;
    }
}
/* specification and give ratings ended */
/* reviews and ratings start */

.ratingsreviews{
    width: 90%;
    margin: 0 auto;
}
.ratingsreviews h1{
    color: var(--secondary-color);
    margin-bottom: 1em;
    font-size: 1.4rem;
}
.personandrating{
    padding: 1em;
    background-color: var(--selected);
    width: 50%;
}
.person{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.person > img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.person >.username{
    font-weight: bolder;
}
.person .rate_product p i{
    font-size: 1rem;
}
.person>i{
    font-size: 3rem;
}
.person .username{
    display: inline;
    margin-left: 1em;
}
.person .rate_product{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}
.message{
    width: 50%;
    padding: 1em;
    margin-bottom: 2em;
    background-color: var(--selected);
}
.deletereview{
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--primary-color);
    color: white;
    transition: 0.4s;
    border-width: 0px;
}
.deletereview:hover{
    background-color: var(--secondary-color);
}
@media(max-width: 1000px){
    .personandrating{
        width: 80%;
    }
    .message{
        width: 80%;
    }
}
@media(max-width: 768px){
    .personandrating{
        width: 100%;
    }
    .message{
        width: 100%;
    }
}
/* reviews and ratings ended */



/* add review in text area */
.addreview{
    width: 90%;
    margin: 0 auto;
}
.addreview h1{
    margin-bottom: 1em;
    color: var(--secondary-color);
}
.addreview p{
    margin-bottom: 2em;
}
.cust-review{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1em;
}
.cust-review button{
    padding: 0.5em 1em;
    background-color: var(--tertiary-color);
    margin-bottom: 1em;
    transition: 0.4s;
    color: white;
}
.cust-review button:hover{
    background-color: var(--secondary-color);
}
@media(max-width: 600px) {
    .cust-review textarea{
        width: 100%;
    }
    
}
/* product description starts */
.pro-description{
    margin-top: 1em;
    width: 90%;
    margin: 0 auto 2em auto;
}
.pro-description h1{
    width: 50%;
    color: var(--secondary-color);
    margin-bottom: 1em;
    font-size: 1.4rem;
}
.pro-description p{
    width: 50%;
}
@media(max-width: 1000px){
    .pro-description p{
        width: 70%;
    }
}
@media(max-width: 768px){
    .pro-description p{
        width: 100%;
    }
}
/* product description ends */

/* session userprofile starts */

header .custprofile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid white;
    object-fit: cover;
    object-position: center;
}
header .custprofile{
    width: 20%;
    background-color: transparent;
}
@media (max-width: 500px) {
    header .custprofile{
        width: 30%;
    }
}


/* product footer starts */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    background-color: var(--primary-color);
}
.container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 300px));
    margin-left: 7%;
    justify-content: center;
}

.container-footer > div{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2em;
}
.container-footer div h1{
    color: var(--secondary-color);
}





/* signin modal open */
@keyframes animatemodal {
    from{
        width: 10%;
        height: 20vh;
        color: var(--secondary-color);
    }
    to{
        width: 40%;
        height: 50vh;
        color: var(--white);
    }
}
.modal-login{
    display: flex;
    position: fixed;
    height: 50vh;
    width: 40%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--secondary-color);
    z-index: 5;
    color: white;
    animation-duration: 0.7s;
    animation-name: animatemodal;
    border-radius: 8px;
}
.modal-login>div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.modal-login .close-signin{
    font-size: 5rem;
    width: 90%;
    text-align: right;
    cursor: pointer;
    padding: 0;
}
.modal-login>div div{
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.modal-login>div img{
    width: 40%;
    margin-bottom: 0px;
}
.modal-login div div button{
    background-color: transparent;
    border-width: 0px;
    font-size: 1.3rem;
    color: white;
}
.modal-login div div button:hover{
    color: black;
    text-decoration: underline;
}
.modal-login> div div p{
    font-size: 1.3rem;
}
.backdrop{
    width: 100%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 3;
    display: none;
}
@media(max-width: 1000px){
    .modal-login{
        width: 70%;
        animation-duration: 0.7s;
        animation-name: animatemodal;
        /* min-width: 300px; */
    }
    @keyframes animatemodal {
        from{
            width: 10%;
            height: 20vh;
            color: var(--secondary-color);
        }
        to{
            width: 100%;
            height: 50vh;
            color: var(--white);
        }
    }
    .modal-login> div div p{
        font-size: 1rem;
    }
    .modal-login div div button{
        background-color: transparent;
        border-width: 0px;
        font-size: 1rem;
        color: white;
    }
}
@media(max-width: 600px){
    .modal-login{
        width: 30%;
        animation-duration: 0.7s;
        animation-name: animatemodal;
        min-width: 280px;
    }
    .modal-login> div div p{
        font-size: 0.8rem;
    }
    @keyframes animatemodal {
        from{
            width: 10%;
            height: 20vh;
            color: var(--secondary-color);
        }
        to{
            width: 40%;
            height: 50vh;
            color: var(--white);
        }
    }
    .modal-login div div button{
        background-color: transparent;
        border-width: 0px;
        font-size: 0.8rem;
        color: white;
    }
}