.backdrop{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -9999;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;      
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 100%;
}
:root{
    --primary-color: #E93F36;
    /* --secondary-color: #3F36E9; */
    --secondary-color: #0C6980;
    --tertiary-color: #228B22;
    --white: #ffffff;
    --black: #000000;
    --selected: #D9D9D9;
}
header{
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    padding: 0 4em;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
}
.logo{
    width: 20%;
}
.logo img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 100;
}
.login_cart_search{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}
.login_cart_search div{
    margin: 0 0.5em;
}
.login{
    background-color: var(--tertiary-color);
    padding: 0.35em 0.75em;
    border-radius: 8px;
}
.login a{
    text-decoration: none;
    color: var(--white); 
}
ul li{
    margin: 0 1em;
    color: var(--white);
}
ul li a{
    text-decoration: none;
    color: inherit;
}
ul li a:hover{
    color: var(--black);
    transition: 0.4s;
}
ul li a:active{
    color: var(--selected);
}
.cart i, .search i{
    color: var(--white);
    font-size: 1.5rem;
}
.search-bar{
    position: absolute;
    margin-top: -0%;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    right: 4%;
}
.search-bar input{
    padding: 0.5em;
    border-radius: 8px;
}
.show-searchbar{
    margin-top: -40%;
    transition: 0.4s;
}
.show-cart, .show-login{
    display: none;
}
.show-search{
    display: none;
}
.fa-times{
    position: relative;
    right: 40px;
    top: 0 px;
    color: var(--selected);
}
.search-item{
    margin-right: 10%;
}
.close-fa{
    display: none;
}
.search-result i{
    font-size: 1.5rem;
    border-width: 0px;

}

/* media queries for navbar */
@media(max-width: 1300px){
    .search-bar{
        right: 12%;
    }
}
@media(max-width: 1000px){
    ul{
        position: fixed;
        flex-direction: row;
        padding: 0em;
        height: 80px;
        width: 80%;
        bottom: 0%;
        left: 10%;
        background-color: var(--tertiary-color);
        transition: 0.4s;
        justify-content: center;
        align-items: center;
        /* border-radius: 12px; */
        z-index: 100;
        font-size: 1.1rem;
    }
    ul li{
        width: 100%;
        border: 1px solid white;
        padding: 1em;
        font-size: 0.7rem;
        border-radius: 8px;
    }
    ul li:hover{
        background-color: var(--tertiary-color);
    }
    ul li a:hover{
        color: var(--white);
    }
    .search-bar{
        right: 20%;
    }
    
    ul li a{
        color: var(--white)
    }
    .logo{
        width: 40%; 
    }
    .login_cart_search{
        width: 40%;
    }
}
@media(max-width: 800px){
    .search-bar{
        right: 32%;
    }
}
@media(max-width: 600px){
    ul{
        top: 86vh;
    }
    
    header{
        padding: 0em;
    }
    .login{
        padding: 0.5em 1.5em;
    }
    .login a {
        font-size: 16px;
    }
    .logo{
        width: 60%;
    }
    .login_cart_search{
        width: 60%;
    }
    .search-bar{
        right: 50%
    }
}
@media(max-width: 492px){
    .login{
        padding: 0.3em 1.5em;
    }
    ul{
        width: 100%;
        left: 0%;
        bottom: 4%;
        font-size: 0.7em;
        justify-content: center;
    }
    ul li{
        padding: 0.6em;
    }
    .login_cart_search{
        width: 60%;
    }
    .login{
        width: 100px;
    }
    .search-bar input{
        padding: 0.3em;
    }
}
@media(max-width: 400px){
    .login{
        padding: 0.1em 1.5em;
    }
    .login{
        width: 100px;
    }
    .search-bar{
        margin-right: 40px;
    }
}


/* header finished */
/* form submit starts */
.contact-us-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 4em;
    margin-top: 3em;
}
.container-form{
    width: 90%;
    margin: 0 auto;
}
.contact-desc{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 3em;
}
.contact-desc h1{
    margin-bottom: 0.5em;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--secondary-color);
}
.contact-desc p{
    text-align: justify;
    color: var(--tertiary-color);
}
.contact-form{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 20%;
    background-color: var(--selected);
    padding: 2em;
    border-radius: 8px;
}
.our-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}
.info-item h1{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.info i{
    font-size: 1.5rem;
    color: var(--primary-color);
}
.info-item p{
    color: var(--tertiary-color);
    width: 100%;
}
.our-info .info{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 2em;
}
.our-info i{
    margin-right: 2em;
}
.our-info .info-item{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.our-info .info-item h1{
    margin-bottom: 0.3em;
}
.your-message-form{
    width: 60%;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}
.your-message-form h1{
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 2em;
    font-weight: lighter;
}
.your-message-form form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}
.your-message-form form div{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.your-message-form form div input{
    border-width: 0px 0px 1px 0px;
    margin-bottom: 1em;
    border-color: var(--black);
    margin-top: 1em;
    height: 25px;
    background-color: var(--selected);
}
.your-message-form form div input:focus{
    outline: none;
}
.submit-btn button{
    width: 100px;
    height: 30px;
    background-color: var(--white);
    border-width: 1px;
}
.submit-btn button:hover{
    background-color: var(--tertiary-color);
    color: var(--white);
    transition: 0.4s;
}
@media(max-width: 880px) {
    .contact-form{
        gap: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .our-info{
        width: 100%;
    }
    .your-message-form{
        width: 100%;
    }
    .contact-desc{
        width: 80%;
    }
    
}


/* footer starts*/





footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    background-color: var(--primary-color);
}
.container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 300px));
    margin-left: 7%;
    justify-content: center;
}

.container-footer > div{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2em;
}
.container-footer div h1{
    color: var(--secondary-color);
}


