.backdrop{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -9999;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;      
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 100%;
}
:root{
    --primary-color: #E93F36;
    --secondary-color: #3F36E9;
    --tertiary-color: #228B22;
    --white: #ffffff;
    --black: #000000;
    --selected: #D9D9D9;
}
header{
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    padding: 0 4em;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
}
.logo{
    width: 20%;
}
.logo img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 100;
}
.login_cart_search{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}
.login_cart_search div{
    margin: 0 0.5em;
}
.login{
    background-color: var(--tertiary-color);
    padding: 0.35em 0.75em;
    border-radius: 8px;
}
.login a{
    text-decoration: none;
    color: var(--white); 
}
ul li{
    margin: 0 1em;
    color: var(--white);
}
ul li a{
    text-decoration: none;
    color: inherit;
}
ul li a:hover{
    color: var(--black);
    transition: 0.4s;
}
ul li a:active{
    color: var(--selected);
}
.cart i, .search i{
    color: var(--white);
    font-size: 1.5rem;
}
.search-bar{
    position: absolute;
    margin-top: -0%;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    right: 4%;
}
.search-bar input{
    padding: 0.5em;
    border-radius: 8px;
}
.show-searchbar{
    margin-top: -40%;
    transition: 0.4s;
}
.show-cart, .show-login{
    display: none;
}
.show-search{
    display: none;
}
.fa-times{
    position: relative;
    right: 40px;
    top: 0 px;
    color: var(--selected);
}
.search-item{
    margin-right: 10%;
}
.close-fa{
    display: none;
}
.search-result i{
    font-size: 1.5rem;
    border-width: 0px;

}

/* media queries for navbar */
@media(max-width: 1300px){
    .search-bar{
        right: 12%;
    }
}
@media(max-width: 1000px){
    ul{
        position: fixed;
        flex-direction: row;
        padding: 0em;
        height: 80px;
        width: 80%;
        bottom: 2%;
        left: 10%;
        background-color: var(--black);
        transition: 0.4s;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        z-index: 100;
        font-size: 1.1rem;
    }
    ul li{
        width: 100%;
        border: 1px solid white;
        padding: 1em;
        font-size: 0.7rem;
        border-radius: 8px;
    }
    ul li:hover{
        background-color: var(--tertiary-color);
    }
    ul li a:hover{
        color: var(--white);
    }
    .search-bar{
        right: 20%;
    }
    
    ul li a{
        color: var(--white)
    }
    .logo{
        width: 40%; 
    }
    .login_cart_search{
        width: 40%;
    }
}
@media(max-width: 800px){
    .search-bar{
        right: 32%;
    }
}
@media(max-width: 600px){
    ul{
        top: 86vh;
    }
    
    header{
        padding: 0em;
    }
    .login{
        padding: 0.5em 1.5em;
    }
    .login a {
        font-size: 16px;
    }
    .logo{
        width: 60%;
    }
    .login_cart_search{
        width: 60%;
    }
    .search-bar{
        right: 50%
    }
}
@media(max-width: 492px){
    .login{
        padding: 0.3em 1.5em;
    }
    ul{
        width: 100%;
        left: 0%;
        bottom: 4%;
        font-size: 0.7em;
        justify-content: center;
    }
    ul li{
        padding: 0.6em;
    }
    .login_cart_search{
        width: 60%;
    }
    .login{
        width: 100px;
    }
    .search-bar input{
        padding: 0.3em;
    }
}
@media(max-width: 400px){
    .login{
        padding: 0.1em 1.5em;
    }
    .login{
        width: 100px;
    }
    .search-bar{
        margin-right: 40px;
    }
}
/* header below */

.contact{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 1em 0;
    padding-right: 2.5em;
    align-items: center;
    background-color: var(--secondary-color);
}
.show-contact{
    display: none;
}
.show-bars{
    display: none;
}
.bars i{
    font-size: 1.5rem;
    color: var(--white);
}
.bars{
    margin-right: 2em;
}
/* media queries for contact or header below */
@media(max-width: 992px){
    .show-contact{
        display: flex;
    }
    .show-bars{
        display: block;
    }
}
@media(max-width: 600px){
    .bars{
        margin-left: 0em;
    }
    .contact{
        padding-right: 0em;
    }
}



/* hero section slider */

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.container{
    display: flex;
    width: 94%;
    margin: 0 auto;
    justify-content: space-between;
}

.slider{
    width: 76%;
    position: relative;
    display: flex;
    height: 80vh;
    justify-content: right;
    overflow: hidden;
}
.slider>div{
    width: 100%;
    height: 80vh;
    position: absolute;
    transition: 0.4s;
}
.slider div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.circle1{
    background-color: var(--selected);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 9;

}
.circle2{
    background-color: var(--selected);

    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 9;

}
.circle3{
    background-color: var(--selected);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 9;
}
.navslide{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 90%;  
    z-index: 9; 
    /* background-color: red; */
}
.shownavslide{
    display: none;
}
.info-img{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: var(--secondary-color);
    opacity: 0.8;
    text-align: center;
    height: 40%;
    font-size: 2rem;
    color: var(--white);
    transition: 0.3s;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}
.show-info-img{
    bottom: -40%;
    transition: 0.3s;
    z-index: 10;
}
.info-img p{
    background-color: transparent;
    border: 1px solid var(--white);
    width: 20%;
    margin: 0 auto;
    /* border-radius: 8px; */
    z-index: 10;
}
.info-img p:hover{
    transition: 0.4s;
    background-color: var(--tertiary-color);
}
.info-img a{
    text-decoration: none;
    color: white;
    width: 20%;
}
.info-img h1{
    font-size: 2rem;
    font-weight: lighter;
}
/* hero section categories */

.categories{
    width: 20%;
}
.categories{
    position: relative;
    padding: 0.4em 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    color: var(--white);
    background-color: var(--black);
    transition: 0.4s;
}
.categories p{
    width: 80%;
    text-align: center;
    padding: 0em;
}
.categories p:hover{

    border-bottom: 4px solid var(--secondary-color);
}
.categories .close-cat{
    position: absolute;
    font-size: 2.8rem;
    top:30px;
    right: 50px;
    cursor: pointer;
    display: none;
}
/* media queries */

/* not finished */
@media(max-width: 1000px) {
    .slider{
        width: 100%;
    }
    .show-cat{
        transform: translate(-1000%);
        transition: 0.4s ease-in-out;
    }
    .categories{
        position: absolute;
        width: 100%;
        height: 100%;
        flex-direction: column;
        top: 0%;
        left: 0%;
        padding:6em 3em 0em 3em;
        background-color: var(--tertiary-color);
        opacity: 0.96;
        z-index: 50;
        border-radius: 8px;
        overflow: scroll;
        transition: 0.4s;
    }
    .categories .close-cat{
        display: block;
    }
    .categories p{
        width: 100%;
        top:0;
        left: 50px;
        margin-bottom: 1em;
    }
    .categories p:hover{
        border-bottom: 4px solid var(--secondary-color);
    }
    .info-img p{
        width: 50%;
    }
    
}


/* mart info */
.mart-services{
    display: flex;
    justify-content: right;
    width: 70%;
    margin: 0 auto;
    /* max-width: 950px; */
}
.mart-container{
    width: 70%;
    display: flex;
    /* align-items: center; */
    background-color: var(--selected);
    padding: 1.5em;
    border-radius: 25px;
    gap: 5%;

}
.service-1, .service-2{
    display: flex;
    gap: 10%;
    justify-content: space-between;
}
.ser-img1 i, .ser-img2 i{
    font-size: 3rem;
    color: var(--secondary-color)
}
.service-1 p, .service-2 p{
    color: var(--black);
}
@media(max-width: 1000px){
    .mart-container{
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }
}


/* items container */

.filters-items{
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 3em auto;
    justify-content: space-between;
}
.filters{
    width: 20%;
}
.items{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.items h1{
    font-size: 2rem;
    color: var(--secondary-color);
}
.items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    background-color: var(--primary-color);
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    background-color: var(--white);
    min-width: 250px;  
    border-radius: 5px;
}
.item:hover{
    box-shadow: 10px 12px 10px rgba(0, 0, 0, 0.85);
    transition: 0.4s;

}
.item img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.item div h1{
    font-size: 1.5rem;
    margin-top: 0.4em;
}
.item div p{
    font-size: 1rem;
}
.item>div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.btn_rate{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}
.btn{
    width: 50%;
    background-color: var(--tertiary-color);
    padding: 0.4em 0.2em;
    text-align: center;
    /* border-radius: 8px; */
    color: var(--white)
}
.price{
    width: 50%;
    text-align: center;
    color: var(--secondary-color);
    border: 1px solid black;
    padding: 0.4em 0.2em;
}
.price:hover{
    color: white;
    background-color: var(--black);
}
.btn_rate .btn:hover{
    background-color: var(--secondary-color);
    transition: 0.4s;
}

/* media query for items list */
@media(max-width: 1000px){
    .filters{
        display: none;
    }
    .items-container{
        justify-content: center;
    }
    .items{
        width: 100%;
    }
    .item{
        min-width: 300px;
    }
   
}

/* filters styling */

.addfilter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.morefilters{
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 3em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    font-size: 1.1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0.9;
}
.pricefilter{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricerange{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.pricefilter label{
    color:var(--white);
}
.sort label{
    color: var(--white);
}
.view-range i{
    color: var(--white);
}
.pricerange .apply{
    padding: 0.4em 1em;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 8px;
}
.pricerange input{
    padding: 0.3em;
    border: 8px;
}
.view-range{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.sort{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:6.5%;
}
.sort #sortby{
    padding: 0.3em;
}
@media(max-width: 1000px){
     .morefilters{
        width: 100%;
    }
    .addfilter{
        justify-content: center;
        width: 100%;
    }
}

/* filters more */
.filters{
    padding: 2em;
    background-color: var(--secondary-color);
    color: var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0.9;
}
.filter-icon{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    color: var(--secondary-color)
}
.filter-icon i{
    font-size: 1.3rem;
    color: var(--white);
}
.filter-icon p{
    font-size: 1.2rem;
    color: var(--white);

}
.filters button{
    padding: 0.5em 2em;
    background-color: var(--tertiary-color);
    color: var(--white);
    margin-top: 2em;
}
.radio-select div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
.radio-select{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.radio-select div{
    margin-top: 2em;
}
.filters h1{
    margin-top: 1em;
    font-size: 1.6rem;
    color: var(--white)
}
hr{
    color: var(--white);
}
.filters label{
    font-size: 1.2rem;
}

.filters form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.filters form p, .filters input{
    margin: 1em 0px;
}
.filters input{
    padding: 0.4em;
}
/* loading */
.loader{
    margin-top: 2em;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    background-color: var(--primary-color);
}
.container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 300px));
    margin-left: 7%;
    justify-content: center;
}

.container-footer > div{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2em;
}
.container-footer div h1{
    color: var(--secondary-color);
}


