:root{
    --primary-color: #D10000;
    /* --secondary-color: #3F36E9; */
    --secondary-color: #0C6980;
    --tertiary-color: #228B22;
    --white: #ffffff;
    --black: #000000;
    --selected: #D9D9D9;
}