@import url(../colors_font/color_font.css);

.backdrop{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -9999;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 100%;
}

header{
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    padding: 0 4em;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
}
.logo{
    width: 20%;
}
.logo img{
    width: 40%;
    object-fit: cover;
    object-position: center;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 100;
}
.login_cart_search{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}
.login_cart_search div{
    margin: 0 0.5em;
}
.login_cart_search .login{
    padding: 0.35em 0.75em;
    border-radius: 8px;
}
.login_cart_search .login button{
    background-color: var(--tertiary-color);
    color: var(--white); 
    padding: 0.5em 0.75em;
    border-radius: 8px;
}
.cart span{
    font-size: 1.1rem;
    position: relative;
    top: 0.4em;
    color: white;
}
ul li{
    margin: 0 1em;
    color: var(--white);
}
ul li a{
    text-decoration: none;
    color: inherit;
}
ul li a:hover{
    color: var(--black);
    transition: 0.4s;
}
ul li a:active{
    color: var(--selected);
}
.cart i, .search i{
    color: var(--white);
    font-size: 1.5rem;
}
.search-bar{
    position: absolute;
    margin-top: -0%;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    right: 4%;
}
.search-bar input{
    padding: 0.5em;
    border-radius: 8px;
}
.show-searchbar{
    margin-top: -40%;
    transition: 0.4s;
}
.show-cart, .show-login{
    display: none;
}
.show-search{
    display: none;
}
.fa-times{
    position: relative;
    right: 40px;
    top: 0 px;
    color: var(--selected);
}
.search-item{
    margin-right: 10%;
}
.close-fa{
    display: none;
}
.search-result i{
    font-size: 1.5rem;
    border-width: 0px;

}

/* media queries for navbar */
@media(max-width: 1300px){
    .search-bar{
        right: 12%;
    }
}
@media(max-width: 1000px){
    ul{
        position: fixed;
        flex-direction: row;
        padding: 0em;
        height: 80px;
        width: 80%;
        bottom: 0%;
        left: 10%;
        background-color: var(--tertiary-color);
        transition: 0.4s;
        justify-content: center;
        align-items: center;
        /* border-radius: 12px; */
        z-index: 100;
        font-size: 1.1rem;
    }
    ul li{
        width: 100%;
        border: 1px solid white;
        padding: 1em;
        font-size: 0.7rem;
        border-radius: 8px;
    }
    ul li:hover{
        background-color: var(--tertiary-color);
    }
    ul li a:hover{
        color: var(--white);
    }
    .search-bar{
        right: 20%;
    }
    
    ul li a{
        color: var(--white)
    }
    .logo{
        width: 40%; 
    }
    .login_cart_search{
        width: 40%;
    }
}
@media(max-width: 800px){
    .search-bar{
        right: 32%;
    }
}
@media(max-width: 600px){
    ul{
        top: 86vh;
    }
    
    header{
        padding: 0em;
    }
    .login{
        padding: 0.5em 1.5em;
    }
    .login a {
        font-size: 16px;
    }
    .logo{
        width: 60%;
    }
    .login_cart_search{
        width: 60%;
    }
    .search-bar{
        right: 50%
    }
}
@media(max-width: 492px){
    .login{
        padding: 0.3em 1.5em;
    }
    ul{
        width: 100%;
        left: 0%;
        bottom: 4%;
        font-size: 0.7em;
        justify-content: center;
    }
    ul li{
        padding: 0.6em;
    }
    .login_cart_search{
        width: 60%;
    }
    .login{
        width: 100px;
    }
    .search-bar input{
        padding: 0.3em;
    }
}
@media(max-width: 400px){
    .login{
        padding: 0.1em 1.5em;
    }
    .login{
        width: 100px;
    }
    .search-bar{
        margin-right: 40px;
    }
}
/* header finished */

.userInfo{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2em auto;
    /* flex-wrap: wrap; */
}
.userInfo p{
    font-size: 1.3rem;
    color: var(--secondary-color);
    width: 25%;
    text-align: left;
}
.userInfo h1{
    width: 25%;
    text-align: left;
}
.userInfo img{
    width: 25%;
    height: 25%;
    border-radius: 10%;
    border: 2px solid black;
}
@keyframes animateupload {
    from{
        height: 0px;
    }
    to{
        height: 180px;
    }
}
.processtoupload{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.processtoupload form{
    position: relative;
    animation-name: animateupload;
    animation-duration: 0.4s;
}

@media(max-width: 800px){
    .userInfo h1{
        font-size: 1rem;
    }
    .userInfo p{
        font-size: 1em;
        font-weight: bolder;
    }
    .userInfo{
        flex-wrap: wrap;
        gap: 2em;
    }
    .userInfo p, .userInfo h1, .userInfo .processtoupload{
        flex-grow: 1;
    }
    .userInfo .btn-holder{
        flex-grow: 1;
    }
    .userInfo span{
        display: none;
    }

}


/* userinfo ended */
/* profile dashboard starts */

.profilecontainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin:  2em auto;
    height: auto;
}
@keyframes dashanimate {
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
.dashprofile{
    width: 20%;
    background-color: var(--selected);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    animation-duration: 0.6s;
    animation-name: dashanimate;
    padding: 2em;
    font-size: 1.2rem;
    height: 86vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dashprofile p{
    cursor: pointer;
    color: var(--secondary-color);
}
.dashprofile p:hover{
    text-decoration: underline;
}

#profile{
    display: none;
}
@media(max-width: 800px){
    .dashprofile{
        height: auto;
    }
    .dashprofile p{
        font-size: 1rem;
    }
    .dashprofile h4{
        font-size: 1rem;
    }
    .profilecontainer{
        gap: 1em;
    }
}
@media(max-width: 600px){
    .dashprofile p{
        font-size: 0.8rem;
    }
    .dashprofile h4{
        font-size: 0.8rem;
    }
    .profilecontainer{
        flex-direction: column;
        width: 95%;
        margin: auto;
        gap: 1em;
        margin-bottom:3em;

    }
    .dashprofile{
        flex-direction: row;
        width: 95%;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
        min-width: 300px;
        padding: 1em;
        margin: auto;
        height: auto;
    }
    #profile{
        width: 95%;
        margin: auto;

    }
}



/* profile edit */
@keyframes animatemodal {
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0%);
    }
}
.dashitem1, .dashitem2, .dashitem3, .dashitem4{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 2em;
    animation-duration: 0.6s;
    animation-name: animatemodal;
    background-color: var(--selected);
    padding: 1.4em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dashitem2{
    width: 75%;
}
.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile-header button{
    background-color: var(--tertiary-color);
    padding: 0.8em 1.8em;
    border-width: 0px;
    color: white;

}
.profile-header button:hover{
    background-color: var(--secondary-color);
}

.showuserdetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 2em;
}
.userdetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.showuserdetail .useremail p{
    word-break: break-all;
    width: 35%;
}
.showuserdetail .password{
    align-items: start;
}
.showuserdetail .password div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
}
.showuserdetail .password button{
    background-color: var(--tertiary-color);
    padding: 0.6em 1.5em;
    border-width: 0px;
    color: white;
}
.showuserdetail .password button:hover{
    background-color: var(--primary-color);
}
@media(max-width: 800px){
    .dashitem1, .dashitem2, .dashitem3,.dashitem4{
        width: 95%;
    }
}



/* reviews edit */

.dashitem2 .profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2em;
}
.dashitem2 .profile-header img{
    width: 10%;
}
.review-comment{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 0.2em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid var(--primary-color);

}
.review-comment p{
    font-size: 1.2rem;
}
.review-comment .deletebtn{
    background-color: var(--tertiary-color);
    padding: 0.8em 1.8em;
    border-width: 0px;
    color: white;
}
.review-comment .deletebtn:hover{
    background-color: var(--secondary-color);

}
@media(max-width: 800px){
    .dashitem1, .dashitem2, .dashitem3,.dashitem4{
        width: 95%;
        margin: 0 auto;
    }
    .review-comment p{
        font-size: 1rem;
    }
    .dashitem2{
        padding: 0.2em;
    }
    .dashitem2 .profile-header img{
        width: 20%;
    }
}
@media(max-width: 600px){
    .dashitem1, .dashitem2, .dashitem3,.dashitem4{
        width: 95%;
        margin: 0 auto;
    }
    .review-comment p{
        font-size: 0.8rem;
    }
    .dashitem2{
        padding: 0.2em;
    }
}




/* wishlist */

.dashitem3{
    width: 75%;
}
.wishitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}
.wishitem .wish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* flex-direction: column; */
}
.wishitem h3{
    color: var(--tertiary-color);
}
.wishitem .wish img{
    width: 10%;
}
.titlewish p{
    margin-bottom: 1em;
}
.titlewish{
    text-align: center;
}
.titlewish i{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.titlewish i:hover{
    color: var(--primary-color);
}
.wish button{
    background-color: var(--tertiary-color);
    padding: 0.6em 1.5em;
    border-width: 0px;
    color: white;
}
.wish button:hover{
    background-color: var(--primary-color);
}

.wish{
    padding-bottom: 1em;
    border-bottom: 2px solid var(--primary-color);
}
@media(max-width: 600px){
    .dashitem1, .dashitem2, .dashitem3,.dashitem4{
        width: 95%;
        margin: 0 auto;
    }
    .dashitem3{
        width: 95%;
        padding: 0.9em;
    }
    .dashitem3 .wish p{
        font-size: 0.8em;
    }
    .dashitem3 .wish h3{
        font-size: 0.8em;
    }
    .dashitem3 .wish button{
        padding: 0.4em 0.6em;
    }
    .dashitem3 .wish{
        flex-direction: column;
        gap: 2em;
    }
    .dashitem3 .wish img{
        width: 30%;
    }
}
@media(max-width: 800px){
    .dashitem1, .dashitem2, .dashitem3,.dashitem4{
        width: 95%;
        margin: 0 auto;
    }
    .dashitem3{
        width: 95%;
        padding: 0.9em;
    }
    .dashitem3 .wish p{
        font-size: 1em;
    }
    .dashitem3 .wish h3{
        font-size: 1em;
    }
    .dashitem3 .wish button{
        padding: 0.4em 0.6em;
    }
    .dashitem3 .wish{
        flex-direction: column;
        gap: 2em;
    }
    .dashitem3 .wish img{
        width: 30%;
    }
}
@media(max-width: 800px){
    .dashitem1, .dashitem2, .dashitem3,.dashitem4{
        width: 95%;
        margin: 0 auto;
    }
    .dashitem4{
        width: 95%;
        padding: 0.9em;
    }
    .dashitem4 .wish p{
        font-size: 1em;
    }
    .dashitem4 .wish h3{
        font-size: 1em;
    }
    .dashitem4 .wish button{
        padding: 0.4em 0.6em;
    }
    .dashitem4 .wish{
        flex-direction: column;
        gap: 1em;
    }

    .dashitem4 .wish img{
        width: 30%;
    }
    
}





/* dashboard profile ended */

/* modal edit profile starts */
.backdrop{
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 3;
}
.hidebackdrop{
    display: none;
}
@keyframes animateprofileedit {
    from{
        left: 0%;
    }
    to{
        left: 50%;
    }
}
.editprofile{
    width: 100%;
    animation-duration: 0.6s;
    animation-name: animateprofileedit;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--secondary-color);
    border-radius: 8px;
    z-index: 5;
}
.hideEditprofile{
    display: none;
}
.editprofile form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
}
.editprofile form>h3{
    width: 100%;
    text-align: center;
    color: white;
}
.editprofile form >div i{
    color: var(--white);
    margin-right: 1.2em;
    font-size: 1.5rem;
}

.editprofile form >div input{
    width: 250px;
    padding: 0.5em;
    border-width: 0px;
    border-bottom: 2px solid white;
    background-color: var(--secondary-color);
    outline: none;
    color: white;
}
.editprofile form > div button{
    background-color: var(--tertiary-color);
    border-width: 0px;
    padding: 0.5em 1em;
    color: var(--white);
}
form .xmark{
    width: 120%;
    text-align: right;
    position: relative;
    top: 1em;
}
form .xmark i{
    font-size: 4rem;
    cursor: pointer;
}
.erroremail, .errormobile, .errorusername{
    font-size: 0.8em;
    margin-left: 5em;
    color: red;
    margin-top: 1em;
}
@media(max-width: 800px){
    .editprofile form{
        padding: 1em;
        gap: 0.6em;
    }
    .editprofile{
        top: 45%;
        padding: 0em;
        max-width: 400px;
    }
 
}

/* modal password */

.updatepass{
     width: 100%;
    animation-duration: 0.6s;
    animation-name: animateprofileedit;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--secondary-color);
    border-radius: 8px;
    z-index: 5;
}
.hidepass{
    display: none;
}
.updatepass form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
}
.updatepass form>h3{
    width: 100%;
    text-align: center;
    color: white;
}
.updatepass form >div i{
    color: var(--white);
    margin-right: 1.2em;
    font-size: 1.5rem;
}

.updatepass form >div input{
    width: 250px;
    padding: 0.5em;
    border-width: 0px;
    border-bottom: 2px solid white;
    background-color: var(--secondary-color);
    outline: none;
    color: white;
}
.updatepass form > div button{
    background-color: var(--tertiary-color);
    border-width: 0px;
    padding: 0.5em 1em;
    color: var(--white);
}
form .xmark1{
    width: 120%;
    text-align: right;
    position: relative;
    top: 1em;
}
form .xmark i{
    font-size: 4rem;
    cursor: pointer;
}

@media(max-width: 800px){
    .updatepass{
        max-width: 380px;
    }
 
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    background-color: var(--primary-color);
}
.container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 300px));
    margin-left: 7%;
    justify-content: center;
}

.container-footer > div{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2em;
}
.container-footer div h1{
    color: var(--secondary-color);
}
/* error and flashes */
@keyframes animateflash {
    from{
        top: -50px;
    }
    to{
        top: -50px;
    }
}
.errorsflash{
    display: flex;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;

}

.errorsflash p{
    position: relative;
    background-color: var(--secondary-color);
    padding: 0.5em;
    color: white;
    animation-name: animateflash;
    animation-duration: 0.6s;
}


/* customer image change */

@keyframes imageanim {
    from{
        transform: translateX(70%);
    }
    to{
        transform: translateX(0%);
    }
}

.changecustpicture{
    width: 40%;
    margin: auto;
    margin-top: 1em;
}
.changecustpicture button, .uploadpicture button{
    background-color: var(--tertiary-color);
    padding: 0.4em 0.6em;
    border-width: 0px;
    color: white;
    transition: 0.6s;
}
.changecustpicture button:hover, .uploadpicture button:hover{
    background-color: var(--secondary-color);
}
.uploadpicture{
    margin-top: 1em;
    display: none;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}
.uploadpicture .cancelupload{
    width: 50%;
    background-color: var(--tertiary-color);
    padding: 0.4em 0.6em;
    border-width: 0px;
    color: white;
    transition: 0.6s;
}
.uploadpicture input, .uploadpicture button{
    width: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

/* animated toggle button */
.btn-holder {
    width: 60px;
    height: 26px;
    border-radius: 18px;
    background-color: #f7d6a3;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }
  .btn-holder .btn-circle {
    background-color: #6b5e8a;
    transform: translateX(0px);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: 300ms;
  }
  .btn-holder .active {
    background-color: #da7250;
    transform: translateX(30px);
    transition: 300ms;
  }
  .btn-holder .checkbox {
    display: none;
  }